

.cropbox {
    width: 100%;
    margin-bottom: 30px;
    position: relative;
    display: table;
    border-collapse: separate;
    margin-left: 15px;
}
.cropbox .btn i.glyphicon {
    right: 10px;
}
.text-center-align {
    text-align: center;
}
.login-page.text-center-align .anim{
    margin: auto;
    float: none;
}
