.filter-btn{

}
.filter-btn.hot{
    border-color: #6ebff3;
    background: #6ebff3;
    color: #fff;
}
.filter-btn.btn-bordered, .filter-btn.btn-bordered:focus{
    border: 1px solid #e2e2e2;
}
.slug span{
    margin-top: 30px;
}
.btn.tag {
    min-width: 250px;
    text-align: left;
}
a.tag.active {
    /*color: #881220;*/
}
p.tags-list {
    font-size: 14px;
    margin-left: 15px;
    font-weight: 100;
}
.tags-list {
    color: #6EBFF3;
}

/* Comments */
.single ul.comments li .wrapper {
    height: auto;
}
.form.contact.style-2 {
    margin-top: 30px;
}
.comments .form.contact .input-group textarea.lg {
    height: 100px;
    width: 94%;
}
.comments .single h6, .comments h6 {
    margin: 15px 36px;
}
.comments .btn.icon {
    margin-left: 36px;
}
.comments .btn.btn-cancel, .btn.btn-cancel {
    margin-left: 10px;
}
.comments .form.contact .input-group {
    margin: -5px 0 12px 36px;
}