.filter-btn{

}
.filter-btn.hot{
    border-color: #6ebff3;
    background: #6ebff3;
    color: #fff;
}
.filter-btn.btn-bordered, .filter-btn.btn-bordered:focus{
    border: 1px solid #e2e2e2;
}
.slug span{
    margin-top: 30px;
}
.btn.tag {
    min-width: 250px;
    text-align: left;
}
a.tag.active {
    /*color: #881220;*/
}
p.tags-list {
    font-size: 14px;
    margin-left: 15px;
    font-weight: 100;
}
.tags-list {
    color: #6EBFF3;
}